nav .badge {
    position: relative;
    top: 20px;
    right: 20px;
}

.input-field input[type=search]:focus:not(.browser-default) {
    background-color: #4a148c;
}

.todaysTemp {
    margin: .2rem;
}